/* .scroll_icon span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background: #1941B8;
}

.scroll_icon:hover span::after{
  width: 100%;
  opacity: 1;
}

.scroll_icon svg{
  transition: all 0.4s ease-in-out;
}

.scroll_icon:hover svg{
  transform: translate(20px, -20px);
} */

@keyframes scroll_icon{
  to {
    transform: translate(20px, -20px);
  }
  from{
    transform: translate(0, 0);
  }
}