/* reveal */
.reveal > div,
.reveal > span {
  opacity: 0;
}
.reveal.show > div,
.reveal.show > span {
  animation: opacity 1000ms linear forwards;
}
.reveal {
  position: relative;
}
.reveal::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}

.reveal.show::before {
  animation: reveal 1000ms cubic-bezier(0.77, 0, 0.18, 1);
}

.reveal.show::after {
  animation: reveal 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  80% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
