* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #1941b8;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #1941b8;
}

/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

/* 버튼 초기화 */
button {
  border: 0;
}

/* 세로 선 */
.v-line {
  border-left: 1px solid #1941b8;
  height: 100%;
}

/* 가로선 선 */
.h-line {
  border-bottom: 1px solid #1941b8;
  width: 100%;
}

/* right_cont */
.right_cont_title{
  width: auto;
  height: auto;
}

.right_cont_title strong {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  display: block;
  font-size: 3vw;
  color: #fff;
  -webkit-text-stroke: 2.5px #1941b8;
  position: relative;
  padding-left: 2.6vw;
}

.right_cont_title strong::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2vw;
  height: 2vw;
  content: "";
  background: url(../svg/logo_icon.svg);
  background-position: center;
  background-size: contain;
}


.desc_info {
  margin-top: 0.6vh;
  display: flex;
  width: 100%;
}

.desc_info .second_row{
  margin-left: 0.5vw;
}

.desc_info .desc_info_title{
  width: 10%;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 900;
  border: #1941b8 1px solid;
  padding: 0.25vw 0.6vw;
}

.desc_info .desc_info_desc{
  width: 40%;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 0.25vw 1vw;
  border: #1941b8 1px solid;
  background-color: #1941b8;
  margin-left: -0.3vw;
}

.right_cont_desc p {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  margin-top: 1vh;
  font-size: 1.2vw;
  width: 80%;
  height: auto;
  padding: 1.2vw;
  line-height: 1.5;
  border: #1941b8 1.8px dotted;
  border-radius: 0.3vw;
  color: #222;
}

/* right_btn */
.right_cont_btn {
  display: flex;
  width: 100%;
  margin-top: 2.5vh;
}

.right_cont_btn .view_btn {
  width: 9.5vw;
  height: 6vh;
  border: #1941b8 1.5px solid;
  border-radius: 100px;
  line-height: 6vh;
  position: relative;
  background: #fff;
  transition: all 0.3s ease;
}

.right_cont_btn .view_btn:hover {
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #1941b8;
}

.right_cont_btn .view_btn a {
  width: 9.5vw;
  height: 6vh;
  font-size: 1vw;
  font-weight: 700;
  color: #1941b8;
  padding-left: 1.5vw;
}

.right_cont_btn .view_btn a::after {
  content: "";
  position: absolute;
  width: 3vw;
  height: 2vh;
  background: url(../svg/btn_arrow_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}

.right_cont_btn .code_btn {
  width: 9.5vw;
  height: 6vh;
  border: #1941b8 1.5px solid;
  border-radius: 100px;
  line-height: 6vh;
  margin-left: 1.2vw;
  position: relative;
  background: #fff;
  transition: all 0.3s ease;
}

.right_cont_btn .code_btn:hover {
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #1941b8;
}

.right_cont_btn .code_btn a {
  width: 9.5vw;
  height: 6vh;
  font-size: 1vw;
  font-weight: 700;
  color: #1941b8;
  padding-left: 1.5vw;
}

.right_cont_btn .code_btn a::after {
  content: "";
  position: absolute;
  width: 3vw;
  height: 2vh;
  background: url(../svg/btn_arrow_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}

/* right_btn.white */
.right_cont_btn.white .view_btn {
  width: 180px;
  height: 50px;
  border: #fff 2px solid;
  background: none;
  border-radius: 100px;
  line-height: 50px;
  margin-left: 20px;
  position: relative;
}

.right_cont_btn.white .view_btn:hover {
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #fff;
}

.right_cont_btn.white .view_btn a {
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-left: 30px;
}

.right_cont_btn.white .view_btn a::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 20px;
  background: url(../svg/btn_arrow_icon_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}

.right_cont_btn.white .code_btn {
  width: 190px;
  height: 50px;
  border: #fff 2px solid;
  border-radius: 100px;
  line-height: 50px;
  margin-left: 20px;
  position: relative;
}

.right_cont_btn.white .code_btn:hover {
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #fff;
}

.right_cont_btn.white .code_btn a {
  width: 190px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

.right_cont_btn.white .code_btn a::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 20px;
  background: url(../svg/btn_arrow_icon_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}

/* IR 효과 */
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
