font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
      format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSans", sans-serif;
  box-sizing: border-box;
  color: #1941b8;
}

body {
  position: relative;
}

/* font-family: 'Noto Sans KR', sans-serif; */

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #1941b8;
}

/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

/* 버튼 초기화 */
button {
  border: 0;
}

/* 세로 선 */
.v-line {
  border-left: 1px solid #1941b8;
  height: 100%;
}

/* 가로선 선 */
.h-line {
  border-bottom: 1px solid #1941b8;
  width: 100%;
}

/* right_cont */
.right_cont_subtitle span{
  position: relative;
  font-weight: 700;
  font-size: 30px;
  padding-left: 40px;
}

.right_cont_subtitle::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "";
  background: url(../svg/logo_icon.svg);
  background-position: center;
  background-size: contain;
}

.right_cont_title strong{
  margin-top: 8px;
  display: block;
  font-size: 70px;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2.5px #1941b8;
}

.right_cont_desc p{
margin-top: 8px;
font-size:24px;
width: 85%;
height: 249px;
padding: 34px;
line-height: 1.5;
border: #1941b8 1px dotted;
color: #222;
}

/* right_btn */
.right_cont_btn{
  display: flex;
  width: 100%;
  margin-top: 24px;
}

.right_cont_btn .view_btn{
  width: 180px;
  height: 50px;
  border: #1941b8 2px solid;
  border-radius: 100px;
  line-height: 50px;
  margin-left: 20px;
  position: relative;
  background: #fff;
  transition: all 0.3s ease;
}

.right_cont_btn .view_btn:hover{
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #1941b8;
}

.right_cont_btn .view_btn a{
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #1941b8;
  padding-left: 30px;
}

.right_cont_btn .view_btn a::after{
  content: "";
  position: absolute;
  width: 55px;
  height: 20px;
  background: url(../svg/btn_arrow_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}


.right_cont_btn .code_btn{
  width: 190px;
  height: 50px;
  border: #1941b8 2px solid;
  border-radius: 100px;
  line-height: 50px;
  margin-left: 20px;
  position: relative;
  transition: all 0.3s ease;
}

.right_cont_btn .code_btn:hover{
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #1941b8;
}

.right_cont_btn .code_btn a{
  width: 190px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #1941b8;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

.right_cont_btn .code_btn a::after{
  content: "";
  position: absolute;
  width: 55px;
  height: 20px;
  background: url(../svg/btn_arrow_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}

/* right_btn.white */
.right_cont_btn.white .view_btn{
  width: 180px;
  height: 50px;
  border: #fff 2px solid;
  background: none;
  border-radius: 100px;
  line-height: 50px;
  margin-left: 20px;
  position: relative;
}

.right_cont_btn.white .view_btn:hover{
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #fff;
}

.right_cont_btn.white .view_btn a{
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-left: 30px;
}

.right_cont_btn.white .view_btn a::after{
  content: "";
  position: absolute;
  width: 55px;
  height: 20px;
  background: url(../svg/btn_arrow_icon_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}

.right_cont_btn.white .code_btn{
  width: 190px;
  height: 50px;
  border: #fff 2px solid;
  border-radius: 100px;
  line-height: 50px;
  margin-left: 20px;
  position: relative;
}

.right_cont_btn.white .code_btn:hover{
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px #fff;
}

.right_cont_btn.white .code_btn a{
  width: 190px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

.right_cont_btn.white .code_btn a::after{
  content: "";
  position: absolute;
  width: 55px;
  height: 20px;
  background: url(../svg/btn_arrow_icon_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(30%, -50%);
}


/* IR 효과 */
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
