.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}
.section2,
.section4,
.section7,
.section8 {
  width: 100%;
  height: 100vh;
  background: #111;
  color: #fff;
}
.section1 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section1 .pin-wrap > div {
  min-width: 60vw;
}
.section3 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section3 .pin-wrap > div {
  min-width: 60vw;
}
.section5 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section5 .pin-wrap > div {
  min-width: 60vw;
}
.section6 .pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section6 .pin-wrap > div {
  min-width: 60vw;
}

.container {
  padding: 34px;
}

/* section1 */
/* sec1_1 */
.sec1_1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sec1_1 .header {
  width: 54.59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1_1 .title {
  font-size: 120px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: -3px;
  line-height: 0.88;
}

.sec1_1 .title span {
  display: block;
  -webkit-text-stroke: 3px #1941b8;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0);
}

.sec1_1 .title .text_wrap{
  display: flex;
  align-items: center;
}

.sec1_1 .title .arrow_icon {
  width: 498px;
  height: 105px;
  background: url(../svg/arrow_icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 22px;
}

.sec1_1 .email {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: -20px;
}

.sec1_1 .email .name {
  font-weight: 700;
  font-size: 45px;
  margin-right: 153px;
}

.sec1_1 .email address a {
  font-size: 24px;
  font-weight: 400;
  line-height: 70px;
  margin-top: auto;
  color: #1941b8;
  padding-right: 34px;
}

.sec1_1 .img_wrap {
  width: 23.974%;
  height: 100%;
}

.sec1_1 .img_wrap .airplane_img {
  width: 90%;
  height: 100%;
  text-align: center;
  background-image: url(../svg/airplane_img.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.sec1_1 .portfolio_list {
  width: 21.436%;
  margin-top: auto;
  perspective: 1000px;
}

.sec1_1 .portfolio_list .flip-btn {
  margin: 0 auto;
  height: 126px;
  display: block;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.sec1_1 .portfolio_list .flip-btn:hover {
  transform: rotateX(-90deg);
}

.sec1_1 .portfolio_list .flip-btn .front {
  height: 126px;
  line-height: 126px;
  transform: translateZ(63px);
}

.sec1_1 .portfolio_list .flip-btn .back {
  height: 126px;
  line-height: 126px;
  background: #1941b8;
  color: #fff;
  transform: rotateX(90deg) translateZ(189px);
}

.sec1_1 .portfolio_list .list_num {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  margin-right: 20px;
  margin-left: 34px;
}

.sec1_1 .portfolio_list .front .list_num {
  -webkit-text-stroke: 1.5px #1941b8;
  color: rgba(255, 255, 255, 0);
}

.sec1_1 .portfolio_list .back .list_num {
  -webkit-text-stroke: 2px #d1d9f1;
  color: #1941b8;
}

.sec1_1 .portfolio_list .list_tit {
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
}

.sec1_1 .portfolio_list .back .list_tit {
  color: #fff;
}

/* sec1_2 */
.sec1_2 {
  width: 100vw;
  height: 100vh;
}

.sec1_2 .img_wrap img {
  width: 100vw;
  height: 100vh;
}

/* section2 */
.section2.sub {
  width: 40vw;
  height: 100vh;
  background: #999;
  margin-left: auto;
  color: #fff;
}

.section2.sub .sub_contain {
  padding: 60px 34px;
  margin-left: auto;
  background: #999;
}

.section2.sub .sub_title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
}

.section2.sub .sub_title span {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2.5px #1941b8;
}

.section2.sub .sub_desc span {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #222;
}

/* section3 */
/* sec3_1 */
/* .sec3_1.container {
  height: 100vh;
  width: 240vw;
  background: #1941b8;
}
.sec3_1 .text_wrap {
} */

/* sec3_2 */

@media (max-width: 1440px) {
  .container {
    padding: 16px;
  }

  /* section1 */
  .sec1_1 .header .title span,
  .sec1_1 .header .title strong {
    font-size: 70px;
    line-height: 1;
  }

  .sec1_1 .header .title span {
    -webkit-text-stroke: 3px #1941b8;
  }

  .sec1_1 .title .arrow_icon {
    display: inline-block;
    width: 378px;
    height: 60px;
    background: url(../svg/arrow_icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -40px;
  }

  .sec1_1 .email .name {
    font-size: 40px;
    margin-right: 153px;
  }

  .sec1_1 .email address a {
    font-size: 16px;
  }

  .sec1_1 .portfolio_list .flip-btn {
    height: 96px;
  }

  .sec1_1 .portfolio_list .flip-btn .front {
    height: 96px;
    line-height: 96px;
    transform: translateZ(48px);
  }

  .sec1_1 .portfolio_list .flip-btn .back {
    height: 96px;
    line-height: 96px;
    background: #1941b8;
    color: #fff;
    transform: rotateX(90deg) translateZ(144px);
  }

  .sec1_1 .portfolio_list .list_num {
    font-size: 50px;
    margin-right: 14px;
    margin-left: 16px;
  }

  .sec1_1 .portfolio_list .front .list_num {
    -webkit-text-stroke: 1.5px #1941b8;
    color: #fff;
  }

  .sec1_1 .portfolio_list .back .list_num {
    -webkit-text-stroke: 1.5px #d1d9f1;
    color: #1941b8;
  }

  .sec1_1 .portfolio_list .list_tit {
    font-size: 24px;
  }

  /* section2 */
  .section2.sub .sub_contain {
    padding: 30px 16px;
  }

  .section2.sub .sub_title {
    font-size: 60px;
  }

  .section2.sub .sub_title span {
    -webkit-text-stroke: 3px #1941b8;
  }

  .section2.sub .sub_desc span {
    font-size: 18px;
    color: #222;
  }
}

@media (max-width: 1220px) {
  .sec1_1 .header {
    width: 50.59%;
  }

  .sec1_1 .header .title {
    font-size: 90px;
    line-height: 0.8;
  }

  .sec1_1 .email .name {
    margin-right: 93px;
  }

  .sec1_1 .portfolio_list {
    width: 25.436%;
  }

  .h-line {
    width: 100%;
  }
}

@media (max-width: 1024px) {
}
