@keyframes movebg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 1813.17px bottom;
  }
}

@keyframes star {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text_line {
  from {
    background-size: 0% 60%;
  }
  to {
    background-size: 100% 60%;
  }
}

@keyframes airplane-animation {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-1.5%);
  }
}

@keyframes animateEarth {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -3776px 0px;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes web-animation {
  0% {
    background-position: center top;
  }
  80% {
    background-position: center bottom;
  }

  85% {
    background-position: center bottom;
  }

  100% {
    background-position: center top;
  }
}

@keyframes animationCircleTxt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
